footer{
  min-width: 100vw;
  padding: 40px 72px 72px 72px;
  background-color: var(--beige);
  bottom: 0;
  left:0
}

footer p{
  color: var(--dark-gray);
  opacity: 60%;
}

@media (max-width: 480px) {

  footer{
    padding: 40px 20px 50px 20px;
  }

}