/* 4 - section */
.fourth__section{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  row-gap: 30px;
  margin-bottom: 140px;
}

.fourth__section .section-title-big{
  margin-bottom: 0;
}

/* carousel controller */
.carousel-controller{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap:20px;
}

.carousel-btn-left, .carousel-btn-right{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--dark-gray);
  transition: all 0.2s;
}

.carousel-btn-left:hover, .carousel-btn-right:hover{
  background-color: var(--yellow);
}

.last-card-index{
  opacity: 60%;
}
.carousel-btn-left img{
  transform: scale(-1, 1) 
}

.cards-container{ /*wrapper*/
  width: 100%;
  grid-column: span 2;
  overflow: hidden;
}

.cards{  /*carousel*/
  width: 100%;
  display: grid;
  grid-auto-flow:column;
  grid-auto-columns: calc((100% / 3) - 10px);
  justify-content: flex-start; 
  scroll-behavior: smooth;

}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-img{
  max-width: 320px;
  min-width:244px;
  width: 100%;
  height: auto;
  margin-bottom: 25px;
}

.card-name{
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-600);
  margin-bottom: 5px;
}

.card-status{
  font-size: var(--font-size-20);
  color: var(--dark-gray);
  opacity: 60%;
  margin-bottom: 20px;
}

.card-btn{
  width: 113px;
  height: 35px;
  border: 1px solid var(--blue);
  border-radius: 62px;
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-500);
  color: var(--blue);
  transition: all 0.2s;
}

.card-btn:hover{
  background-color: var(--blue);
  color: var(--white);
}

.carousel-btn-left, .carousel-btn-right{
  width: 36px;
  height: 36px;
}


@media (max-width: 1250px){
  .cards{  /*carousel*/
    grid-auto-columns: calc((100% / 2) - 10px); 
  }
}

@media (max-width: 900px){
  .card-img{
    width: 244px;
  }
}

@media (max-width: 660px) {

  .fourth__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cards{  /*carousel*/
    grid-auto-columns: 100%; 
  }

  .carousel-controller{
    order: 3;
  }

}
  @media (max-width: 480px) {


  .card{
    min-width: 335px;
  }

}

@media (max-width: 376px) {

  .fourth__section { 
    margin-bottom: 100px;
  }

  .fourth__section 
  .section-title-big{ 
   font-size: 36px;
   margin-bottom: -20px;
  }

  /* .cards-container{
    width: 335px;
    margin-bottom: 38px;
  } */

  /* .card{
    padding-left: 10px;
    padding-right: 10px;
  } */

  .card-img{
    margin-bottom: 30px;
  }

  .carousel-controller{
    gap:15px;
  }

}