/* 4 - section */
.fourth__section{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  margin-bottom: 140px;
}

.fourth__section .section-title-big{
  margin-bottom: 0;
}

/* carousel controller */
.carousel-controller{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap:20px;
}

.carousel-btn-left, .carousel-btn-right{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  clip-path: circle();
  background-color: var(--dark-gray);
}

.last-card-index{
  opacity: 60%;
}
.carousel-btn-left img{
  transform: scale(-1, 1) 
}

.cards-container{
  padding-top: 60px;
  min-width: 100%;
  grid-column: span 2;
  overflow: hidden;
}

/* cards */
.cards{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 100%;
  gap: 40px;
  transition: all 2s;
  scroll-behavior: smooth;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid black;
  min-width: 375px;
  padding: 0 40px;
}

.card-img{
  width: clamp(244px, calc(13.45rem + 7.67vw), 320px);
  height: auto;
  margin-bottom: 25px;
}

.card-name{
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-600);
  margin-bottom: 5px;
}

.card-status{
  font-size: var(--font-size-20);
  color: var(--dark-gray);
  opacity: 60%;
  margin-bottom: 20px;
}

.card-btn{
  width: 113px;
  height: 35px;
  border: 1px solid var(--blue);
  border-radius: 62px;
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-500);
  color: var(--blue);
}


@media (max-width: 550px) {

  .fourth__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 140px; */
  }

  .carousel-controller{
    order: 3;
  }

  .card{
    min-width: 335px;
  }

}
@media (max-width: 376px) {


}