/* 2 - section */
.second__section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:60px;
  margin-bottom: 120px;
}

.second__section-first-part{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:50px;
  margin-bottom: 5px;
}

.second__section-first-part 
.section-title-small{
  line-height: 135%;
}

.second__section-second-part 
.section-title-small{
  line-height: 135%;
}


.second__section-first-part img{
  width: 394px;
}

.second__section-second-part{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.second__section-second-part-right{
  position: relative;
  left: -10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.second__section-second-part img{
  position: relative;
  top:-50px;
  left: -30px;
  width: 600px;
  height: auto;
}

.table-grid-container{
  width: 100%;
  display: grid;
  grid-template-columns: 305px auto;
  margin: 47px 0 34px 0;
}

.table-grid-container span{
  padding: 15px 0;
  font-size: var(--font-size-20);
  border-bottom: 2px solid var(--light-gray);
}

.table-grid-container span:last-child,
.table-grid-container span:nth-last-child(2){
  border-bottom: 0px;
}



.table-grid-container span:nth-child(odd) {
  padding-left:0;
  color: var(--dark-gray);
  opacity: 0.7;
  border-right: 2px solid var(--light-gray);
}

.table-grid-container span:nth-child(even) {
  padding-left: 15px;
  font-weight: var(--font-weight-600);
  border-right: 0px;
}

.caption{
  font-size: var(--font-size-20-18);
  color: var(--blue);
}

s{
  text-decoration-color: var(--red);
  text-decoration-thickness: 2px;
}

@media (max-width: 992px) {
  .second__section-first-part,
  .second__section-second-part{
    flex-direction: column;
  }
  .second__section-second-part-right{
    position: static;
  }

  .second__section-second-part img{
    position: static;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .second__section-first-part,
  .second__section-second-part{
    flex-direction: column;
  }

  .second__section-first-part{
    margin-bottom: 30px;
  }
  .second__section-first-part
  .section-title-small{
    display: flex;
    flex-direction: column;
  }

  .second__section-first-part span:nth-child(1){
    line-height: 135%; 
  }
  .second__section-first-part span:nth-child(2){
    width: 100%;
    height: 262px;
  }
  .second__section-first-part span:nth-child(3){
    line-height: 135%; 
  }
  .second__section-first-part span:nth-child(4){
    line-height: 135%; 
  }

  .img-container{
    margin-top: -440px;
    margin-bottom: 160px;
  }

  .second__section-second-part
  .section-title-small{
    margin-bottom: -15px;
  }

  .second__section-second-part img{
    width: 375;
    position: relative;
    width: 112%;
    margin-top: -9px;
    margin-left: 10px;
    margin-bottom: -40px;

  }

  .table-grid-container{
    grid-template-columns: 2fr 2fr;
    margin-bottom: 26px;
  }

  .table-grid-container span:not(:nth-child(7)){
    grid-column: span 2;
    padding: 5px 0;
    border: none;
  }

  .table-grid-container span:nth-child(6){
    padding-top:16px;
    margin-left: -15px;
    grid-column: span 1;
  }

  .table-grid-container span:nth-child(even) {
    border-bottom: 2px solid var(--light-gray);
    padding-left: 0px;
    padding-bottom: 15px;
  }

  .table-grid-container span:nth-child(odd) {
    padding-top: 16px;
    border-right: 0;
  }

  .table-grid-container span:last-child{
    border-bottom: 0;
  }

  .table-grid-container span:nth-child(7) {
    grid-row: 5;
  }

  .table-grid-container span:nth-child(5) {
    grid-row: 6;
  }

}

@media (max-width: 410px) {
  .second__section-first-part img{
    width: 335px;
  }

}
