/* 2 - section */
.second__section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:60px;
  margin-bottom: 120px;
}

.second__section-first-part{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:50px;
}

.second__section-first-part img{
  width: 394px;
}

.second__section-second-part{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.second__section-second-part-right{
  position: relative;
  left: -10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.second__section-second-part .section-title-small{
  line-height: 135%;
}

.second__section-second-part img{
  position: relative;
  top:-45px;
  left: -25px;
  width: 600px;
  height: auto;
}

.table-grid-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 47px 0 37px 0;
}

.table-grid-container span{
  padding: 15px 0;
  font-size: var(--font-size-20);
  border-bottom: 2px solid var(--light-gray);
}

.table-grid-container span:last-child,
.table-grid-container span:nth-last-child(2){
  border-bottom: 0px;
}

.table-grid-container span{
  border-right: 2px solid var(--light-gray);
}

.table-grid-container span:nth-child(odd) {
  padding-left:0;
  color: var(--dark-gray);
  opacity: 0.7;
}

.table-grid-container span:nth-child(even) {
  padding-left: 10px;
  font-weight: var(--font-weight-600);
  border-right: 0px;
}

.caption{
  font-size: var(--font-size-20-18);
  color: var(--blue);
}

s{
  text-decoration-color: var(--red);
  text-decoration-thickness: 2px;
}

@media (max-width: 992px) {
  .second__section-first-part,
  .second__section-second-part{
    flex-direction: column;
  }
  .second__section-second-part-right{
    position: static;
  }

  .second__section-second-part img{
    position: static;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .second__section-first-part,
  .second__section-second-part{
    flex-direction: column;
  }

  .section-title-small{
    font-size: 36px;
  }

  .table-grid-container{
    grid-template-columns: 2fr;
  }

  .table-grid-container span{
    display: block;
    padding: 5px 0;
    border: none;
  }

  .table-grid-container span:nth-child(even) {
    border-bottom: 2px solid var(--light-gray);
    padding-left: 0px;
    padding-bottom: 15px;
  }

  .table-grid-container span:nth-child(odd) {
    padding-top: 15px;
  }

  .table-grid-container span:last-child{
    border-bottom: 0;
  }

  .table-grid-container span:nth-child(7) {
    grid-row: 5;
    color: blue;
  }
  .table-grid-container span:nth-child(6) {
    color: green;
  }

  .table-grid-container span:nth-child(5) {
    grid-row: 7;
  }

}

@media (max-width: 410px) {
  .second__section-first-part img{
    width: 335px;
  }

}
